body {
  background-color: #414141;
  font-family: JetBrains Mono, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
}



/* ------------------------------------  Header ------------------------------------  */
header {
  background-color: #121212;
  background-image: linear-gradient(180deg, #79797900 0%, #79797975 100%);
  padding: 20px 20px 30px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header .headerDIV {
  display: flex;
}

header .headerDIV h1 {
  font-size: 24px;
  color: white;
  margin-right: 5vh;
}


header .headerDIV h2 {
  font-size: 24px;
  color: gray;
  font-weight: 100;
  margin: 16px;
}


#logo {
  width: 50px;
  height: 50px;
  margin-left: 5vh;
}


/* Nav Menu */
.navDIV {
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 2;
}

nav {
  margin-top: -3vh;
  background-color: #696969;
  color: #fff;
  padding: 25px;
  text-align: center;
  width: 800px;
  border-radius: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 3vh;
}

nav a .btNAV1 {
  font-weight: 500;
  font-size: 15px;
  background-color: #696969;
  padding: 10px;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav a .btNAV1:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #696969;
  box-shadow: 0px 0px 45px 10px #a0acb454;
}

nav a .btNAV2 {
  font-weight: 500;
  font-size: 15px;
  background-color: #696969;
  padding: 10px;
  border-color: #9289eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #9289eb;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav a .btNAV2:hover {
  background-color: #473cab;
  padding: 10px;
  border-color: #473cab;
  border-radius: 5px;
  border-style: none;
  color: #FFFFFF;
  box-shadow: 0px 0px 45px 10px #6a38f352;
}

nav a .btNAV3 {
  font-weight: 500;
  font-size: 15px;
  background-color: #696969;
  padding: 10px;
  border-color: #53cc87;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #53cc87;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav a .btNAV3:hover {
  background-color: #53cc87;
  padding: 10px;
  border-color: #53cc87;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  box-shadow: 0px 0px 45px 10px #23e0622c;
}

nav a .btNAV4 {
  font-weight: 500;
  font-size: 15px;
  background-color: #696969;
  padding: 10px;
  border-color: #ca5a80;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #ca5a80;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

nav a .btNAV4:hover {
  background-color: #ca5a80;
  padding: 10px;
  border-color: #ca5a80;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  box-shadow: 0px 0px 45px 10px #a1233836;
}



/* ------------------------------------ Media Query da Nav Menu ------------------------------------  */
@media (min-width: 320px) and (max-width: 480px) {
  nav{
    padding: 13.5px;
    width: 90%;
  }

  nav a{
    margin: 0vh;
  }

  nav a .btn-nav{
    font-size: 10.5px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {
  nav{
    padding: 15px;
    width: 93%;
  }

  nav a{
    margin: 0.5vh;
  }

  nav a .btn-nav{
    font-size: 11.5px;
  }
}




/* ------------------------------------ Container do About Us ------------------------------------ */
.content .textoAboutUs {
  width: 100%;
}

.content .textoAboutUs .textoInfo {
  width: 100%;
}


.content .textoAboutUs .textoInfo p {
  text-align: left;
  text-align-last: left;
  font-family: "Fira Mono", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 25vh;
  margin-top: 5vh;
  color: white;
  width: 52%;
  text-shadow: 0px 0px 10px #a0acb498;

}

.content .textoAboutUs .textoInfo h3 {
  font-size: 15px;
  color: rgb(180, 180, 180);
  text-align: left;
  text-align-last: left;
  font-weight: 500;
  margin-left: 25vh;
  width: 30%;
  text-shadow: 0px 0px 10px #5e5e5e83;
}

.content .textoAboutUs .textoInfo h3 span {
  color: rgb(238, 221, 73);
}

.content .textoAboutUs .imagemAboutUs {
  width: 100%;
}

.content .textoAboutUs .imagemAboutUs img {
  width: 500px;
  height: 800px;
  float: right;
  margin-top: -65vh;
  margin-right: 15vh;
  background-image: linear-gradient(180deg, #79797900 0%, #79797975 100%), url('caminho/para/sua/imagem.jpg');
  background-blend-mode: multiply;
}

.btn-imprimir{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 25vh;
  margin-top: 55px;
}

.btn-imprimir button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-imprimir button:hover{
  transform: scale(1.1);
}

.btn-imprimir button img{
  width: 45px;
}




/* ------------------------------------ Media Query para página de About Us ------------------------------------  */
@media (min-width: 320px) and (max-width: 480px) {
  .content .textoAboutUs {
    display: flex;
    flex-direction: column;
  }

  .content .textoAboutUs .textoInfo p {
    margin-left: 0.5vh;
    font-size: 25.5px;
    width: 100%;
  }

  .content .textoAboutUs .textoInfo h3 {
    margin-left: 1vh;
    font-size: 17.5px;
    width: 100%;
    margin: 1px;
  }

  .content .textoAboutUs .imagemAboutUs {
    display: flex;
    justify-content: center;
  }


  .content .textoAboutUs .imagemAboutUs img {
    width: 100%;
    height: 600px;
    margin: 0px;
  }

  .btn-imprimir{
    justify-content: center;
    margin-left: 0%;
    margin: 15px;
  }

}




@media (min-width: 481px) and (max-width: 767px) {
  .content .textoAboutUs {
    display: flex;
    flex-direction: column;
  }

  .content .textoAboutUs .textoInfo p {
    margin-left: 1vh;
    font-size: 27.5px;
    width: 100%;
  }

  .content .textoAboutUs .textoInfo h3 {
    margin-left: 2vh;
    font-size: 20px;
    width: 100%;
    margin: 0px;
  }

  .content .textoAboutUs .imagemAboutUs {
    display: flex;
    justify-content: center;
  }


  .content .textoAboutUs .imagemAboutUs img {
    width: 100%;
    height: 700px;
    margin: 0px;
  }

  .btn-imprimir{
    justify-content: center;
    margin-left: 0%;
    margin: 15px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .content .textoAboutUs {
    display: flex;
    flex-direction: row;
  }

  .content .textoAboutUs .textoInfo {
    width: 80%;
  }

  .content .textoAboutUs .textoInfo p {
    margin-left: 0vh;
    font-size: 30px;
    width: 90%;
  }

  .content .textoAboutUs .textoInfo h3 {
    margin-left: 2vh;
    font-size: 13.5px;
    width: 90%;
  }

  .content .textoAboutUs .imagemAboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .content .textoAboutUs .imagemAboutUs img {
    width: 95%;
    height: 700px;
    margin: 5px;
  }

  
  .btn-imprimir{
    justify-content: center;
    margin-left: 10%;
  }
}



@media (min-width: 1025px) and (max-width: 1280px) {
  .content .textoAboutUs {
    display: flex;
    flex-direction: row;
  }

  .content .textoAboutUs .textoInfo {
    width: 90%;
  }

  .content .textoAboutUs .textoInfo p {
    margin-left: 3vh;
    font-size: 33.5px;
    width: 100%;
  }

  .content .textoAboutUs .textoInfo h3 {
    margin-left: 5%;
    font-size: 15px;
    width: 92%;

  }

  .content .textoAboutUs .imagemAboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .content .textoAboutUs .imagemAboutUs img {
    width: 100%;
    height: 700px;
    margin: 0px;
  }
}




@media print{
  header, nav, .btn-imprimir, .imagemAboutUs{
    display: none;
  }
}






.navDIV_Content2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 2;
}

.navDIV_Content2 nav {
  margin-top: 1vh;
  background-color: #464646;
  border: solid;
  border-width: 1px;
  border-color: #727272;
  color: #fff;
  padding: 25px;
  text-align: center;
  width: 800px;
  border-radius: 10px;
}

.navDIV_Content2 nav a {
  color: #fff;
  text-decoration: none;
  margin: 3vh;
}

.navDIV_Content2 nav a .btNAV5 {
  font-weight: 500;
  font-size: 15px;
  background-color: #464646;
  padding: 10px;
  border-color: #9289eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #9289eb;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-right: 10vh;
  cursor: pointer;
}

.navDIV_Content2 nav a .btNAV5:hover {
  background-color: #473cab;
  border-color: #473cab;
  color: #ffffff;
  box-shadow: 0px 0px 45px 10px #6a38f352;
}

.navDIV_Content2 nav a .btNAV6 {
  font-weight: 500;
  font-size: 15px;
  background-color: #464646;
  padding: 10px;
  border-color: #53cc87;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #53cc87;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  margin-right: 13vh;
  cursor: pointer;
}

.navDIV_Content2 nav a .btNAV6:hover {
  background-color: #53cc87;
  padding: 10px;
  border-color: #53cc87;
  color: #FFFFFF;
  box-shadow: 0px 0px 45px 10px #23e0622c;
}

.navDIV_Content2 nav a .btNAV7 {
  font-weight: 500;
  font-size: 15px;
  background-color: #464646;
  padding: 10px;
  border-color: #7cb9eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  color: #7cb9eb;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navDIV_Content2 nav a .btNAV7:hover {
  background-color: #7cb9eb;
  padding: 10px;
  border-color: #7cb9eb;
  color: #ffffff;
  box-shadow: 0px 0px 45px 10px #479de44b;
}

/* ------------------------------------ Media Query da navMenu de About Sites ------------------------------------  */
@media (min-width: 320px) and (max-width: 480px) {
  .navDIV_Content2 nav{
    display: flex;
    justify-content: center;
    padding: 13.5px;
    margin-top: 0vh;
    width: 90%;
  }

  .navDIV_Content2 nav a{
    margin: 0vh;
  }

  .navDIV_Content2 nav a .btn-nav{
    font-size: 10.5px;
    margin-right: 15px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {
  .navDIV_Content2 nav{
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    padding: 15px;
    width: 100%;
  }

  .navDIV_Content2 nav a{
    margin: 0vh;
  }

  .navDIV_Content2 nav a .btn-nav{
    font-size: 10.5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navDIV_Content2 nav{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    padding: 20px;
    width: 100%;
  }

  .navDIV_Content2 nav a{
    margin: 0vh;
  }

  .navDIV_Content2 nav a .btn-nav{
    font-size: 13.5px;
  }
}





/* ------------------------------------ Seção Nossos Clientes ------------------------------------ */
.content .divContent3 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content .divContent3 .imagem1 {
  padding: 10px;
}

.content .divContent3 .imagem2 {
  padding: 10px;
}

.content .divContent3 .imagem1 .img1 {
  display: flex;
  justify-content: left;
  justify-items: center;
  width: 400px;
  border-radius: 10px;
}

.content .divContent3 .imagem1 .img4 {
  display: flex;
  justify-content: right;
  justify-items: center;
  width: 400px;
  border-radius: 10px;
  margin-top: 5px;
}

.content .divContent3 .imagem1 .img5 {
  display: flex;
  justify-content: right;
  justify-items: center;
  width: 400px;
  border-radius: 10px;
  margin-top: 5px;
}

.content .divContent3 .imagem2 .img2 {
  display: flex;
  justify-content: right;
  justify-items: center;
  width: 400px;
  border-radius: 10px;
  margin: 5px;
}

.content .divContent3 .imagem2 .img3 {
  display: flex;
  justify-content: right;
  justify-items: center;
  width: 400px;
  border-radius: 10px;
  margin: 5px;
}



/* ------------------------------------ responsividade na seção nossos clientes ------------------------------------ */
@media (min-width: 320px) and (max-width: 480px) {
  .content .divContent3 .imagem1 .img-client{
    width: 350px;
  }

  .content .divContent3 .imagem2 .img-client{
    width: 350px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {
  .content .divContent3 .imagem1 .img-client{
    width: 375px;
  }

  .content .divContent3 .imagem2 .img-client{
    width: 375px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .content .divContent3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .content .divContent3 .imagem1 .img-client{
    width: 350px;
  }

  .content .divContent3 .imagem2 .img-client{
    width: 350px;
  }
}



@media (min-width: 1025px) and (max-width: 1280px) {
  .content .divContent3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .content .divContent3 .imagem1 .img-client{
    width: 370px;
  }

  .content .divContent3 .imagem2 .img-client{
    width: 370px;
  }
}






/* ------------------------------------ Conteúdo de Serviços ------------------------------------ */
.content .divContent4 {
  width: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}


.content .divContent4 a {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.content .divContent4 a .card1 img{
  border-radius: 30px;
  width: 240px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.content .divContent4 a .card1 img:hover {
  transform: scale(1.05);
}

.content .divContent4 a .card2 img {
  border-radius: 30px;
  width: 240px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.content .divContent4 a .card2 img:hover {
  transform: scale(1.05);
}



/* ------------------------------------ Media Query do Conteúdo de Serviços ------------------------------------ */
@media (min-width: 320px) and (max-width: 480px) {
  .content .divContent4 a .card1 img {
    width: 170px;
    margin: 5px;
  }
  .content .divContent4 a .card2 img {
    width: 170px;
    margin: 5px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {


  .content .divContent4 a .card1 img {
    width: 200px;
  }
  .content .divContent4 a .card2 img {
    width: 200px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .content .divContent4 {
    display: flex;
    flex-wrap: nowrap;
  }

  .content .divContent4 a .card1 img {
    width: 220px;
  }
  .content .divContent4 a .card2 img {
    width: 220px;
  }
}



@media (min-width: 1025px) and (max-width: 1280px) {
  .content .divContent4 {
    display: flex;
    flex-wrap: nowrap;
  }

  .content .divContent4 a .card1 img {
    width: 230px;
  }
  .content .divContent4 a .card2 img {
    width: 230px;
  }
  
}






/* ------------------------------------ Conteúdo de Landing Page ------------------------------------  */
.content {
  display: none;
  padding: 20px;
  text-align: center;
}

.content.active {
  display: block;
}

.content_2 {
  display: none;
  padding: 20px;
  text-align: center;

}

.content_2.active {
  display: block;
}

.content_2 .imagemLP {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.content_2 .imagemLP img {
  width: 450px;
  margin: 10px;
  border-radius: 10px;
}

.content_2 .imagemEC {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.content_2 .imagemEC img {
  width: 450px;
  margin: 10px;
  border-radius: 10px;
}

.content_2 .imagemBLOG {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.content_2 .imagemBLOG img {
  width: 450px;
  margin: 10px;
  border-radius: 10px;
}



/* ------------------------------------ Responsividade do Landing Page ------------------------------------ */
@media (min-width: 320px) and (max-width: 480px) {

  .content_2 .imagemLP{
    display: flex;
    flex-direction: column;
  }

  .content_2 .imagemLP img{
    display: flex;
    align-self: center;
    width: 350px;
    margin: 5px;
  }

  .content_2 .imagemBLOG{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .imagemBLOG img{
    display: flex;
    align-self: center;
    width: 350px;
  }

  .content_2 .imagemEC {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_2 .imagemEC img {
    display: flex;
    align-self: center;
    width: 350px;
  }
}



@media (min-width: 481px) and (max-width: 767px) {

  .content_2 .imagemLP{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_2 .imagemLP img{
    display: flex;
    align-self: center;
    width: 400px;
  }

  .content_2 .imagemBLOG{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .imagemBLOG img{
    width: 400px;
  }

  .content_2 .imagemEC {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content_2 .imagemEC img {
    width: 400px;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .content_2 .imagemLP img{
    width: 395px;
  }

  .content_2 .imagemBLOG img{
    width: 395px;
  }

  .content_2 .imagemEC img {
    width: 395px;
  }
}



@media (min-width: 1025px) and (max-width: 1280px) {
  .content_2 .imagemLP img{
    width: 400px;
  }

  .content_2 .imagemBLOG img{
    width: 400px;
  }
  .content_2 .imagemEC img {
    width: 400px;
  }
}