<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <link rel ="icon" type="image/x-icon" href="img/logoSite.ico">
    <link rel="stylesheet" href="style1.css">
    <style></style>
</head>

<body>
    <header class="header">
        <section class="BordaHeader">
            <div class="btnAncora">
                <a href="#template"><button class="button1">TEMPLATES</button></a>
                <a href="#html"><button class="button2">HTML</button></a>
                <a href="#css"><button class="button3">CSS</button></a>
                <a href="#js"><button class="button4">JAVA SCPRIT</button></a>
            </div>
        </section>
    </header>

    <!-- Parte da main -->
    <section class="main">
        <div class="text1">
            <p>
                Our <span>templates</span> for your website.
            </p>
        </div>


        <div class="navDIV">
            <nav>
                <a href="#" onclick="showContent(1)"><button class="btNAV1">Site 1</button></a>
                <a href="#" onclick="showContent(2)"><button class="btNAV2">Site 2</button></a>
                <a href="#" onclick="showContent(3)"><button class="btNAV3">Site 3</button></a>
            </nav>
        </div>
        <div class="content" id="content1">
            <iframe frameborder="0" scrolling="yes" src="https://www.okler.net/previews/porto/9.9.2/" alt="SITE2"
                style="height: 400px; width: 800px">
            </iframe>
            <div class="quadradoDownload">
                <a href="sites/SITE DOWNLOAD 2.txt" download>
                <button class="botaoquadrado">GET THIS TEAMPLEATE</button>
            </a>
            </div>
        </div>
        <div class="content" id="content2">
            <iframe frameborder="0" scrolling="yes" src="https://invart.pro/blackoid/" alt="SITE2"
                style="height: 400px; width: 800px">
            </iframe>
            <div class="quadradoDownload">
                <a href="sites/SITE DOWNLOAD 3.txt" download>
                <button class="botaoquadrado">GET THIS TEAMPLEATE</button>
                </a>
            </div>
        </div>
        <div class="content" id="content3">
            <iframe frameborder="0" scrolling="yes" src="https://squaretypetheme.com/" alt="SITE3"
                style="height: 400px; width: 800px">
            </iframe>
            <div class="quadradoDownload">
                <a href="sites/SITE DONWLOAD 1.txt" download>
                <button class="botaoquadrado">GET THIS TEAMPLEATE</button>
                </a>
            </div>
        </div>


        <script>
            function showContent(index) {
                var contents = document.getElementsByClassName('content');
                for (var i = 0; i < contents.length; i++) {
                    contents[i].classList.remove('active');
                }
                document.getElementById('content' + index).classList.add('active');
            }
        </script>



        <div class="text2">
            <p   id="html">
                Incredible sites made only using <span>HTML</span>.
            </p>
        </div>

        <div class="htmlSITE">

            <div class="iframeHTML">
                <iframe frameborder="0" scrolling="yes"
                    src="https://klipsan-fluid-demo-pt.squarespace.com?nochrome=true" title="Cailles"
                    style="height: 400px; width: 800px">
                </iframe>

                <div class="textbox">
                    <textarea readonly rows="23" cols="59">CODIGO HTML</textarea>
                </div>
            </div>
            <br>
            <br>
            <div class="iframeHTML">
                <iframe frameborder="0" scrolling="yes" src="https://pazari-fluid-demo-pt.squarespace.com?nochrome=true"
                    title="Cailles" style="height: 400px; width: 800px">
                </iframe>

                <div class="textbox">
                    <textarea readonly rows="23" cols="59">CODIGO HTML</textarea>
                </div>
            </div>

            <br>
            <br>
            <div class="iframeHTML">
                <iframe frameborder="0" scrolling="yes" src="https://colima-fluid-demo-pt.squarespace.com?nochrome=true"
                    title="Cailles" style="height: 400px; width: 800px">
                </iframe>
                <div class="textbox">
                    <textarea readonly rows="23" cols="59">CODIGO HTML</textarea>
                </div>
            </div>

        </div>








        <div class="text3">
            <p id="css">
                Incredible sites made onyl using <span>CSS</span>.
            </p>
        </div>
        <div class="Animations">

            <div class="estruturaCSS">

                <div class="um1">
                    <img src="video/SHAPE.SHAPE.gif" alt="SHAPE">
                    <div class="linha">
                        <div class="c1">
                            <h5>SHAPE</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>


                <div class="dois2">
                    <img src="video/SHADOW.gif" alt="css">
                    <div class="linha">
                        <div class="c1">
                            <h5>SHADOW</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>

                <div class="tres3">
                    <img src="video/SHRINK.gif" alt="js">
                    <div class="linha">
                        <div class="c2">
                            <h5>SHRINK</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>
            </div>

            <div class="estruturaCSS">
                <div class="um1">
                    <img src="video/GROW.gif" alt="SHAPE">
                    <div class="linha">
                        <div class="c1">
                            <h5>GROW</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>

                <div class="dois2">
                    <img src="video/OPACITY.gif" alt="css">
                    <div class="linha">
                        <div class="c1">
                            <h5>OPACITY</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>

                <div class="tres3">
                    <img src="video/ROTATE.gif" alt="js">
                    <div class="linha">
                        <div class="c2">
                            <h5>LOADING</h5>
                        </div>
                    </div>
                    <div class="CSSinfoBorda"></div>
                    <div class="CSSinfo">
                        <p>
                            HTML
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>

                        <p>
                            CSS
                        </p>

                        <div class="textboxCSS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="text4">
            <p  id="js">
                Incredible sites made onyl using <span>Java Script</span>.
            </p>
        </div>

        <div class="Animations">

            <div class="estruturaJS">


                <div class="um1">
                    <img src="video/JS 1.gif" alt="SHAPE">
                    <div class="linha">
                        <div class="c1">
                            <h5>Neon Skull</h5>
                        </div>
                    </div>
                    <div class="JSinfoBorda"></div>
                    <div class="JSinfo">
                        <p>
                            HTML
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            CSS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            JS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>




                <div class="dois2">
                    <img src="video/JS 2.gif" alt="css">
                    <div class="linha">
                        <div class="c1">
                            <h5>Animated Divider</h5>
                        </div>
                    </div>
                    <div class="JSinfoBorda"></div>
                    <div class="JSinfo">
                        <p>
                            HTML
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            CSS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            JS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>




                <div class="tres3">
                    <img src="video/JS 3.gif" alt="js">
                    <div class="linha">
                        <div class="c2">
                            <h5>Dynamic clock</h5>
                        </div>
                    </div>
                    <div class="JSinfoBorda"></div>
                    <div class="JSinfo">
                        <p>
                            HTML
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            CSS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>

                    <div class="JSinfo">
                        <p>
                            JS
                        </p>
                        <div class="textboxJS">
                            <input id="text-input" class="text-input" type="text" value="<button>Shadow</button>">
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </section>
</body>

</html>